__pycache__/
*.py[cod]
*.log

.venv/
tutamail/.venv/

tutamail/data/
tutamail/logs/
captchas/

config.json
tuta_accounts*.txt
mail_details/

codex-manager-master/
outlookEmail-main/
node_modules/

.git/
.gitignore
