__pycache__/
*.py[cod]
*.pyo
*.pyd
*.log

.venv/
tutamail/.venv/

tutamail/data/
tutamail/logs/
captchas/

config.json
tuta_accounts*.txt
mail_details/

.env
.env.*
!.env.example

node_modules/*
!node_modules/@tutao/
node_modules/@tutao/*
!node_modules/@tutao/tutanota-utils/
!node_modules/@tutao/tutanota-utils/**
!node_modules/@tutao/tutanota-error/
!node_modules/@tutao/tutanota-error/**
codex-manager-master/
outlookEmail-main/

.DS_Store
Thumbs.db
